* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f7f7f9;
}

img {
  width: 100%;
}

.hiden-on-mobile {
  display: none;
}

.common-color {
  color: #6070ff;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #fff;
}

.nav-bar-list {
  display: none;
}

.main-content {
  background-image: url(header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  height: 587.15px;
  border-bottom-left-radius: 80px;
}

.container {
  padding: 15px;
}

.main-container {
  padding: 0 15px;
}

.menu a {
  color: #6070ff;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.intro-text {
  font-style: normal;
  font-weight: bold;
  width: 327px;
  height: 150px;
  font-size: 40px;
  line-height: 52px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.intro-text-2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #344563;
  margin-top: 14px;
  margin-bottom: 58px;
}

.social-icons {
  display: flex;
  text-align: start;
}

.social-icons li {
  list-style: none;
  margin-right: 20px;
}

.social-icons a {
  font-size: 25px;
  color: #505f79;
}

.connect {
  position: relative;
  left: 2px;
  top: -50px;
}

.icons-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.projects {
  display: grid;
  grid-template-columns: auto;
  border-radius: 16px;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #dfe1e6;
  margin: 85px 14px;
}

.project-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.about-me-btns {
  display: flex;
  padding: 0;
  list-style: none;
}

.works-text {
  margin: 12px;
}

.about-me-btns li {
  font-weight: 600;
  margin: 0 5px;
  line-height: 16px;
  font-size: 13px;
}

.tech-list {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: flex-start;
  margin-top: 12px;
  margin-bottom: 12px;
}

.tech-list li {
  margin-right: 10px;
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  padding: 4px 12px;
}

.see-project {
  align-self: flex-start;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  left: 0;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 500;
  color: #396df2;
  background-color: #fff;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border-radius: 50%;
}

.decription-text {
  color: #344563;
  margin-left: 10px;
  margin-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.light-text {
  color: #7a869a;
}

.about-me-card {
  background-color: #fff;
  border-top-right-radius: 80px;
}

footer p {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 87px;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.common-stack {
  display: flex;
  background-color: #f7f7f9;
  padding: 10px 10px;
  align-items: center;
  border-radius: 8px;
  margin: 12px 2px;
  width: 100%;
}

.common-stack p {
  margin-left: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.list-of-imgs {
  background-color: #fff;
  list-style: none;
}

.li-img {
  width: auto;
}

.langu {
  margin-right: 53%;
}

.common {
  border-bottom: solid 1px #dfe1e6;
  padding-bottom: 23px;
  margin-top: 24px;
}

.span-li {
  margin-left: 209px;
}

.span-list {
  margin-left: 120px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.drop {
  display: flex;
  align-items: center;
}

.drop img {
  width: 14px;
}

.language-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-down h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.language-down i {
  font-size: 20px;
}

.list-language {
  margin-bottom: 16px;
  margin-top: 16px;
}

footer {
  background: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 80px;
  margin-top: 100px;
  background-image: url(./assets/contactbackground.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

footer h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-top: 102px;
}

.form-items {
  display: flex;
  flex-direction: column;
}

.form-items input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 80px 15px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

form textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 38px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 22px;
}

form button {
  width: max-content;
  padding: 12px 16px;
  border-radius: 8px;
  background: #fff;
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #cfd8dc;
  margin-bottom: 45px;
}

@media screen and (min-width: 800px) {
  .order-1\@md {
    order: 1;
  }

  .order-2\@md {
    order: 2;
  }

  .hiden-on-mobile {
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    background-color: #fff;
  }

  .span-icon {
    visibility: hidden;
  }

  .nav-bar-list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: transparent;
    position: static;
  }

  .nav-bar-list li {
    margin: 5px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 15px;
    color: rgba(52, 69, 99, 1);
  }

  .main-content {
    background-image: url(./assets/desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 721.46px;
    border-bottom-left-radius: 120px;
  }

  .container {
    margin: 200px;
  }

  .main-container {
    padding: 0 15px;
  }

  .menu a {
    color: #6070ff;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  .intro-text {
    font-style: normal;
    font-weight: bold;
    width: 920px;
    height: 122px;
    font-size: 48px;
    line-height: 60px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .intro-text-2 {
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin-top: 14px;
    margin-bottom: 58px;
  }

  .social-icons {
    display: flex;
    text-align: start;
  }

  .social-icons li {
    list-style: none;
    margin-right: 20px;
  }

  .social-icons a {
    font-size: 25px;
    color: #505f79;
  }

  .connect {
    left: 2px;
    top: -50px;
    margin-top: 12px;
  }

  .icons-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .projects {
    display: grid;
    grid-template-columns: auto;
    border-radius: 16px;
    background-color: #fff;
    padding: 16px;
    border: 1px solid #dfe1e6;
    margin: 85px;
  }

  .project-card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .screenshot-project {
    width: 50%;
  }

  .project-text {
    margin: 42px;
  }

  .about-me-btns {
    display: flex;
    padding: 0;
    list-style: none;
  }

  .works-text {
    margin-left: 0px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .block-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .about-me-btns li {
    font-weight: 600;
    margin: 0 5px;
    line-height: 16px;
    font-size: 13px;
    border: 1px solid #fff;
  }

  .tech-list {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: flex-start;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .tech-list li {
    margin-right: 10px;
    background-color: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    padding: 4px 12px;
  }

  .see-project {
    align-self: flex-start;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    width: 124px;
    height: 48px;
    left: 0;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 500;
    color: #396df2;
    background-color: #fff;
  }

  .dot {
    width: 8px;
    height: 8px;
    background-color: #bbb;
    border-radius: 50%;
  }

  .decription-text {
    color: #344563;
    margin-left: 0;
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .light-text {
    color: #7a869a;
  }

  .about-me-card {
    background-color: #fff;
    border-top-right-radius: 80px;
  }

  footer p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    margin-bottom: 30px;
    margin-top: 14px;
    margin-left: 450px;
    margin-right: 450px;
  }

  .common-stack {
    display: flex;
    background-color: #f7f7f9;
    padding: 10px 10px;
    align-items: center;
    border-radius: 8px;
    margin: 12px 2px;
    width: 100%;
  }

  .common-stack p {
    margin-left: 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .list-of-imgs {
    background-color: #fff;
    list-style: none;
  }

  .li-img {
    width: auto;
  }

  .langu {
    margin-right: 53%;
  }

  .common {
    border-bottom: solid 1px #dfe1e6;
    padding-bottom: 23px;
    margin-top: 24px;
  }

  .span-li {
    margin-left: 209px;
  }

  .span-list {
    margin-left: 120px;
  }

  .d-flex {
    display: flex;
    align-items: center;
  }

  .drop {
    display: flex;
    align-items: center;
  }

  .drop img {
    width: 14px;
  }

  .language-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .language-down h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .language-down i {
    font-size: 20px;
  }

  .list-language {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  footer {
    background: #6070ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 80px;
    margin-top: 100px;
    background-image: url(./assets/contactbackground.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  footer h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    margin-top: 102px;
  }

  .form-items {
    display: flex;
    flex-direction: column;
  }

  .form-items input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    padding: 15px 150px 15px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
  }

  form textarea {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 38px;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    background: #fff;
    margin-bottom: 22px;
  }

  form button {
    width: max-content;
    padding: 12px 16px;
    border-radius: 8px;
    background: #fff;
    color: #6070ff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #cfd8dc;
    margin-bottom: 45px;
    align-self: center;
  }
}
